<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisdomelon.sys.mapper.ser.FtSerOutboxMapper">
  <resultMap id="BaseResultMap" type="com.wisdomelon.sys.entity.ser.FtSerOutbox">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="EMAIL_ID" jdbcType="VARCHAR" property="emailId" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="CONTENT" jdbcType="VARCHAR" property="content" />
    <result column="RECIPENTS" jdbcType="VARCHAR" property="recipents" />
    <result column="COPYS" jdbcType="VARCHAR" property="copys" />
  </resultMap>
</mapper>