<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisdomelon.sys.mapper.ser.FtSerFileMapper">
  <resultMap id="BaseResultMap" type="com.wisdomelon.sys.entity.ser.FtSerFile">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="FILE_SIZE" jdbcType="DECIMAL" property="fileSize" />
    <result column="FILE_PATH" jdbcType="VARCHAR" property="filePath" />
    <result column="UPLOAD_TIME" jdbcType="VARCHAR" property="uploadTime" />
    <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
  </resultMap>
</mapper>